// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #95DCB3;
$gray: #6F7189;
$light-gray: #F4F4F4;
$violet: #676FC9;
$white: #F2F3FB;
$dark: #34363f;
$linear-green: linear-gradient( #b2e6c8, #95DCB3);
$linear-violet: linear-gradient( #8088D2, #676FC9 );