.a-card {
  height: 175px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  border: none;
  padding: none;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  border-radius: 7px;
  background: $white;
}

.a-date {
  color: $white;
}

.a-card-photo {
  object-fit: cover;
}

.a-card-content {
  display: flex;

}

.a-card-photo img {
  height: 100%;
  width: 40%;
}