.a-card {
  height: 175px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  border: none;
  padding: none;
  margin: auto;
  display: inline-block;
  justify-content: space-around;
  position: relative;
  border-radius: 7px;
  background: $white;
}