.container {
  text-align: center;
}
.container-form {
	color: $green;
	text-align: center;
}

.title {
  text-decoration: underline;
  color: $green;
}

h1 {
  text-decoration: underline;
  color: $green;
}