// Specific CSS for your home-page
body {
  background-color: $dark;
}

.question-prompt {
  color: $white;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 3em;
}

.btn {
  color: $white;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background-color: $green;
  border-radius: 10px;
  margin-inline-start: .5em;
  margin-top: .35em;
}

#confirm-btn {
  background-color: $violet;
  font-size: 18px;
  width: 15em;
}

.confirm {
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.btns {
  padding-top: 2em;
  margin-bottom: 1em;
}

.confirm-btn {
  background-color: #676FC9;
  font-size: 18px;
  width: 15em;
  padding: 5px 30px;
  border-radius: 10px;
  color: #F6F6F6;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
}

.logo {
  text-align: center;
}

// btn:focus {
//   background-color: #676FC9;
// }