// Specific CSS for your home-page
body {
  background-color: #2E2E2E;
}

.question-prompt {
  color: #F6F6F6;
  text-align: center;
}

.btn {
  color: #F6F6F6;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background-color: #95DCB3;
  border-radius: 10px;
  margin-inline-start: .5em;
  margin-top: .5em;
}

#confirm-btn {
  background-color: #676FC9;
  font-size: 18px;
  width: 15em;
}

.confirm {
  padding-top: 2em;
}

.btns {
  padding-top: 3em;;
}