#index-cards {
  color: $dark, !important;
}

body {
  background-color: $dark;
}

.search-container {
  display: flex;
  justify-content: space-between;
  padding-right: .6em;
  padding-left: .4em;
}

#search-bar  {
  // display: inline-block;
  position: relative;
}

#search-bar-input {
  border: 1.5px;
  border-color: #828282;
  border-style: solid;
  border-radius: 10px;
  display: inline;
  background-color: $gray;
  width: 17em;
  font-family: 'Sen', sans-serif;
}

.form-control::-webkit-input-placeholder {
  color: $white;
}

.filter-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-right: .6em;
  padding-left: .3em;
  margin-top: .5em;
  height: 40px;
}

.mood-filter {
  border-radius: 5px;
  background-color: $white;
  height: 30px;
  margin-left: 1em;
  margin-top: 5px;
  flex-grow: 1;
}

.date-filter {
  border-radius: 7px;
  background-color: $white;
  height: 30px;
  margin-left: 1em;
  flex-grow: 1;
}

#mood-dropdown {
  font-size: 15px;
  padding-right: 1em;
  padding-left: 1em;
}

#price-dropdown {
  font-size: 15px;
}

#date-dropdown {
  font-size: 22px;
  align-items: center;
}

.mood-item {
  color: $dark;
  text-align: center;
  font-size: 18px;
  margin-top: .5em;
}

.btn-group {
  height: 35px;
}

