@import "attendance";

#index-cards {
  color: $dark, !important;
}

body {
  background-color: $dark;
  height: 100%;
}

.search-container {
  display: flex;
  justify-content: space-between;
  padding-right: .6em;
  padding-left: .6em;
}

.dt-searchbar {
  padding-left: 2.5em;
}

div.container {
  padding: none;
}

#search-bar  {
  // display: inline-block;
  position: relative;
}

#searchbar-btn {
  border: none;
  display: inline;
  height: 37px;
  color: $dark;
  background: $linear-green;
  border-radius: 7px;
  font-family: 'Sen', sans-serif;
  margin-top: 4px;
  width: 104px;
}

#dt-searchbar-btn {
  border: none;
  display: inline;
  height: 33px;
  color: $dark;
  background: $linear-green;
  border-radius: 10px;
  font-family: 'Sen', sans-serif;
  margin-top: 4px;
  width: 104px;
  position: absolute;
  left: 720px;
  top: -4px;
}

#search-bar-input {
  border: 1.5px;
  border-color: #828282;
  border-style: solid;
  border-radius: 10px;
  display: inline;
  background-color: $gray;
  width: 14em;
  font-family: 'Sen', sans-serif;
}


.form-control::-webkit-input-placeholder {
  color: $white;
}

.filter-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: .5em;
  height: 40px;
  margin-left: 0px;
}

select#mood-dropdown.mood-drop-btn.btn-up {
  margin-left: 0;
  margin-right: 6px;
}


.mood-filter {
  border-radius: 5px;
  background-color: $white;
  height: 30px;
  margin-left: 1em;
  margin-top: 5px;
  flex-grow: 1;
}

.date-filter {
  border-radius: 7px;
  background-color: $white;
  height: 30px;
  margin-left: 1em;
  flex-grow: 1;
}

#mood-dropdown {
  font-size: 15px;
  padding-right: 1em;
  padding-left: 1em;
}

#dt-mood-drop {
  color: red;
}

#dt-price-drop {
  color: red;
}

#price-dropdown {
  font-size: 15px;
}

#date-dropdown {
  font-size: 22px;
  align-items: center;
}

.mood-item {
  color: $dark;
  text-align: center;
  font-size: 18px;
  margin-top: .5em;
}

.btn-group {
  height: 37px;
}

#dt-btn-group {
  margin-bottom: 3px;
  margin-right: 3px;
  height: 33px;
}


.content {
  flex-shrink:0;
}

.fixed-sticky{
  position: fixed;
  bottom: 60px;
  text-align: center;
  width: 100vw;

}


.desktop-search-container {
  display: flex;
  justify-content: space-between;
  // padding-right: .6em;
  padding-left: 4em;
}

#desktop-search-bar-input {
  border: 1.5px;
  border-color: #828282;
  border-style: solid;
  border-radius: 10px;
  display: inline;
  background-color: $gray;
  width: 18em;
  height: 33px;
  text-align: center;
  font-family: 'Sen', sans-serif;
  font-size: 15px;
  margin-right: 8px;
}

.left-side-container {
  flex: 0 0 60%;
}

.page {
  display: flex;
  height: 100vh;
}

.right-side-container {
  flex: 0 0 40%;
}

.dt-column {
  padding-left: 1.5em;
}