.co {
  font-size: 26px;
  padding-bottom: 1em;
}

#pay {
  width: 300px;
  margin-top: 1.5em;
  font-size: 20px;
  padding-bottom: 5px;
}

.green {
  color: $green;
}

.green-info {
  display: flex;
}

.info {
  font-weight: bolder;
}