.title {
  color: $white;
  text-align: center;
  font-family: 'Sen', sans-serif;
}

.details {
  color: $white;
  font-family: 'Sen', sans-serif;
}

h3 {
  font-size: 16px;
}

.image {
  box-shadow: white;
}

#book-btn {
  background-color: $violet;
  font-size: 18px;
  width: 15em;
}