<body>
  <div class="container">
    <div>
      <%= image_tag("mudi_logo.png", width:200) %>
    </div>
    <div class="question-prompt">
      <h2>How would you like to feel?</h2>
    </div>
    <!-- <div class="btns" style="text-align: center;">
      <button type="button" class="btn">happy</button>
      <button type="button" class="btn">strong</button>
      <button type="button" class="btn">solitude</button>
      <button type="button" class="btn">creative</button>
      <button type="button" class="btn">self-reflective</button>
      <button type="button" class="btn">free</button>
      <button type="button" class="btn">joyful</button>
      <button type="button" class="btn">adventurous</button>
      <button type="button" class="btn">inspired</button>
      <button type="button" class="btn">relaxed</button>
      <button type="button" class="btn">romantic</button>
      <button type="button" class="btn">thoughtful</button>
      <button type="button" class="btn">calm</button>
      <button type="button" class="btn">humourous</button>
    </div> -->

    <div class="btns" style="text-align: center;">
      <input type="checkbox" id="Checkbox" name="Checkbox">
      <label for="Checkbox">
        <span class="mood-btn">happy</span>
      </label>
      
      <input type="checkbox" id="Checkbox2" name="Checkbox2">
      <label for="Checkbox2">
        <span class="mood-btn">strong</span>
      </label>
      
      <input type="checkbox" id="Checkbox3" name="Checkbox3">
      <label for="Checkbox3">
        <span class="mood-btn">solitude</span>
      </label>

        <input type="checkbox" id="Checkbox4" name="Checkbox">
      <label for="Checkbox4">
        <span class="mood-btn">creative</span>
      </label>
      
      <input type="checkbox" id="Checkbox5" name="Checkbox2">
      <label for="Checkbox5">
        <span class="mood-btn">self-reflective</span>
      </label>
      
      <input type="checkbox" id="Checkbox6" name="Checkbox3">
      <label for="Checkbox6">
        <span class="mood-btn">free</span>
      </label>

      <input type="checkbox" id="Checkbox7" name="Checkbox">
      <label for="Checkbox7">
        <span class="mood-btn">joyful</span>
      </label>
      
      <input type="checkbox" id="Checkbox8" name="Checkbox2">
      <label for="Checkbox8">
        <span class="mood-btn">adventurous</span>
      </label>
        
      <input type="checkbox" id="Checkbox9" name="Checkbox3">
      <label for="Checkbox9">
        <span class="mood-btn">inspired</span>
      </label>

      <input type="checkbox" id="Checkbox10" name="Checkbox">
      <label for="Checkbox10">
        <span class="mood-btn">relaxed</span>
      </label>
      
      <input type="checkbox" id="Checkbox11" name="Checkbox2">
      <label for="Checkbox11">
        <span class="mood-btn">romantic</span>
      </label>
      
      <input type="checkbox" id="Checkbox12" name="Checkbox3">
      <label for="Checkbox12">
        <span class="mood-btn">thoughtful</span>
      </label>

      <input type="checkbox" id="Checkbox13" name="Checkbox2">
      <label for="Checkbox13">
        <span class="mood-btn">calm</span>
      </label>
      
      <input type="checkbox" id="Checkbox14" name="Checkbox3">
      <label for="Checkbox14">
        <span class="mood-btn">humourous</span>
      </label>
    </div>
    <div class="confirm" style="text-align: center;">
      <%= link_to  events_path do %>
        <button type="button" class="btn" id="confirm-btn">CONFIRM</button>
        <% end %>
    </div>
  </div>  
</body> 