<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Manjari&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="logo">
      <h1>müdi</h1>
    </div>
    <div class="question-prompt">
      <h2>How would you like to feel?</h2>
    </div>
    <div class="btns" style="text-align: center;">
      <button type="button" class="btn">happy</button>
      <button type="button" class="btn">strong</button>
      <button type="button" class="btn">solitude</button>
      <button type="button" class="btn">creative</button>
      <button type="button" class="btn">self-reflective</button>
      <button type="button" class="btn">free</button>
      <button type="button" class="btn">joyful</button>
      <button type="button" class="btn">adventurouse</button>
      <button type="button" class="btn">inspired</button>
      <button type="button" class="btn">relaxed</button>
      <button type="button" class="btn">romantic</button>
      <button type="button" class="btn">thoughtful</button>
      <button type="button" class="btn">calm</button>
      <button type="button" class="btn">humourous</button>
    </div>
    <div class="confirm" style="text-align: center;">
      <%= link_to  events_path do %>
        <button type="button" class="btn" id="confirm-btn">CONFIRM</button>
        <% end %>
    </div>
  </div>  
</body> 