<div class="container">
	<h1>Confirmed</h1>
	<br>
	<br>
	<h3 id="event_synced"><%= @event.name %>&nbsphas been synced to your calendar!</h3>
	<br>
	<%= image_tag "confetti.png", id:"confirmation-image" %>
	<br>
	<br>
	<div class="link-back">
		<button type="button" id="back-btn">Back to results</button>
		</div>
</div>