<%= link_to "List view", events_path, class: "btn" %>
<div class="p-3">	</div>
<div id="map"
     style="width: 105%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>