
.fas {
	border-color: $green;
	font-size: 20px;
}
.fa-bookmark:before {
	color: $green;
	font-size: 20px;
}

.bm-backto {
	margin-top: 2em;
	margin-bottom: 2em;
}

.dt-show-bookmark {
	padding-left: 1.5em;
}

