.btn-map {
	color: $white;
  font-size: 20px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background: $linear-green;
  border-radius: 7px;
  margin-inline-start: .5em;
  border: none;
  height: 1.9em;
  padding: 8px;
}

.btn-up {
  display: flex;
  align-items: center;
}

#book-btn {
  background: $linear-green;
  font-size: 18px;
  width: 15em;
  border-radius: 10px;
  color: $white;
  border: none;
  height: 2em;
  font-family: 'Sen', sans-serif;
}

#back-btn {
  background: $linear-violet;
  font-size: 18px;
  width: 15em;
  border-radius: 10px;
  color: $white;
  border: none;
  height: 2em;
  font-family: 'Sen', sans-serif;
}

#searchbar-btn {
  border: none;
  position: absolute;
  display: inline;
  position: absolute;
  right: 1em;
  top: 6px;
  color: $white;
  background-color: $gray;
}

.map-btn {
  color: $dark;
  font-size: 20px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background: $linear-green;
  border-radius: 7px;
  margin-inline-start: .5em;
  border: none;
  height: 1.9em;
  width: 3.5em;
}

.btn {
  color: $dark;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background: $linear-green;
  border-radius: 10px;
  // margin-inline-start: .5em;
}

#confirm-btn {
  background: $linear-green;
  font-size: 24px;
  width: 10em;
  padding: 5px 30px;
  border-radius: 10px;
  color: $dark;
  font-family: 'Sen', sans-serif;
  margin: none;
}

.btns {
  padding-top: 2em;
  margin-bottom: 1em;
}

.mood-drop-btn {
  color: $white;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background-color: $gray;
  border-radius: 10px;
  margin-inline-start: .5em;
  border: 1.5px;
  border-color: #828282;
  border-style: solid;
}
