.btn-map {
	color: $dark;
  font-size: 20px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background: $linear-green;
  border-radius: 7px;
  margin-inline-start: .5em;
  border: none;
  padding: 8px;
  text-decoration: none;
  align-items: center
}

a.btn-map {
  text-decoration: none;
  color: $dark;
}

.btn-up {
  display: flex;
  align-items: center;
}

#book-btn {
  background: $linear-green;
  font-size: 18px;
  width: 15em;
  border-radius: 10px;
  color: $dark;
  border: none;
  height: 2em;
  font-family: 'Sen', sans-serif;
}
#book-btn1 {
  background: $linear-green;
  font-size: 18px;
  width: 15em;
  border-radius: 10px;
  color: $dark;
  border: none;
  height: 2em;
  font-family: 'Sen', sans-serif;
}

#details-button {
  background: $linear-green;
  font-size: 14px;
  width: 10em;
  border-radius: 10px;
  color: $dark;
  border: none;
  height: 2.5em;
  font-family: 'Sen', sans-serif;
  margin-bottom: 10px;
}

#back-btn {
  background: $linear-violet;
  font-size: 18px;
  width: 15em;
  border-radius: 10px;
  color: $white;
  border: none;
  height: 2em;
  font-family: 'Sen', sans-serif;
}


.map-btn {
  color: $dark;
  font-size: 20px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background: $linear-green;
  border-radius: 7px;
  margin-inline-start: .5em;
  border: none;
  height: 1.9em;
  width: 7em;
  box-shadow: 2px 2px 3px 1px rgba(52, 54, 63, 0.3);
  
}

.btn {
  color: $dark;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background: $linear-green;
  border-radius: 10px;
  // margin-inline-start: .5em;
}

#confirm-btn {
  background: $linear-green;
  font-size: 24px;
  width: 10em;
  padding: 5px 30px;
  border-radius: 10px;
  color: $dark;
  font-family: 'Sen', sans-serif;
  margin: none;
  -webkit-appearance: none;
  
}

.btns {
  padding-top: 2em;
  margin-bottom: 1em;
}

.mood-drop-btn {
  color: $white;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background-color: $gray;
  border-radius: 10px;
  margin-inline-start: .5em;
  border: 1.5px;
  border-color: #828282;
  border-style: solid;
  -webkit-appearance: none;
}

#map-event-button {
  background: $linear-green;
  font-size: 18px;
  width: 12em;
  border-radius: 10px;
  color: $dark;
  border: none;
  height: 2em;
  font-family: 'Sen', sans-serif;
  margin-top: 14px;
  align-items: center;
  margin-left: 44px

}
