*{
  padding: 0;
  margin: 0;
  font-family: 'Sen', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
//qwe
.fa{
  margin-left: 5px;
  margin-top: 3px;
 font-size: .8em;
  line-height: 22px !important;
}
dropdown{
   display: inline-block;
  //  margin: 20px 50px; 

}
dropdown label, dropdown ul li{
  display: block;
  width: px;
  background: #191919;
  opacity: 0.9;
  padding: 5px 20px;

}
dropdown label:hover, dropdown ul li:hover{
  background: $gray;
  color: white;
  cursor: pointer;
  height: 35px;
  border-radius: 10px;
  margin-top: 5px;
}
dropdown label{
  color: #B2B2B2;
  /*border-left: 4px solid #1ABC9C;*/
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;

}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: $gray;
  color: white;
  border-radius: 10px;
  height: 35px;
  margin-top: 5px;
  
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #FFFFFF, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}

.animate{
  position: absolute;

  right: 20px;
  top: 3px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}

.btn-up1 {
  color: $white;
  font-size: 24px;
  font-family: 'Sen', sans-serif;
  position: relative;
  background-color: $gray;
  border-radius: 10px;
  margin-inline-start: .5em;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}











/*calendar*/
.datetimepicker {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border: 4px solid darkturquoise;
  border-radius: 8px;
  
  &:focus-within {
    border-color: teal;
  }
  
  input {
    font: inherit;
    color: inherit;
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;
    
    &[type=date] {
      width: 10rem;
      padding: .25rem 0 .25rem .5rem;
      border-right-width: 0;
    }
    
    &[type=time] {
      width: 5.5rem;
      padding: .25rem .5rem .25rem 0;
      border-left-width: 0;
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Lato:300);
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, p, a, form, nav, li, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
ul {
	list-style-type: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.monthname {
  width: 18em;
  
}
.pointer {
  cursor: pointer;
}
body {
  font-family: 'Sen', sans-serif;
  padding: 1em 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.calendar p {
	margin-bottom: .5em;
	color: #FFFFFF;
}
.calendar {
  margin-top: 60px;
	background: #222;
	color: #ddd;
	padding: .5em .5em 1em;
	max-width: 20em;
	min-height: 15em;
	margin: .5em auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.calendar li {
	float: left;
	width: -webkit-calc(100%/7);
	text-align: center;
	padding: .25em 0;
	cursor: pointer;
	border-bottom: 1px solid #444;
}
.calendar li:hover, .calendar li.red {
	color: red;
}
.calendar li:nth-child(-n+7) {
	color: #666;
}
.center {
	text-align: center;
}