.card {
  height: 225px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  border: none;
  padding: none;
  margin: auto;
  display: inline-block;
  justify-content: space-around;
  position: relative;
  border-radius: 7px;
}

.card-photo {
  height: 65%;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
}

.card-title {
  font-family: 'Manjari', sans-serif;
  margin-top: .75em;
}

.card-details {
  font-family: 'Sen', sans-serif;
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 16px;
  color: $white;
  background-color: $gray;
  padding: 0px 5px 0px 5px;
  border-radius: 7px;
  
}

.card-title h5 {
  font-size: 15px;
  text-align: left;
  padding-left: .75em;
  font-weight: bolder;
  color: $dark;
  position: absolute;
  top: 152px;
}

.bookmark {
position: absolute;
right: 10px;
top: 5px;
color: $white
}

.bookmark-heart {
	color: $green;
}

.date-time {
  font-size: 14px;
  color: $dark;
  text-align: left;
  padding-left: .75em;
  position: absolute;
  bottom: 8px;
  font-family: 'Sen', sans-serif, !important;
  font-weight: bold;
}

.card-col {
  margin-right: 4px;
}