.container-form {
	color: $white;
	text-align: center;
	font-family: 'Sen', sans-serif;
}

.create-form {
	border-radius: 10px !important;

}

.string {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.text {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.datetime {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.file {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.form-control {
	border-radius: 10px;
	background-color: $gray;
	color: $white
}

.form-control-file {
	font-size: 18px;
	width: 250px
}

.create-btn {
	width: 300px;
}

.simple-form {
	margin-right: 2em;
}

#photo-input {
	justify-content: center !important;
}

// input#file-upload-button {
// 	background: $linear-green !important;
//   font-size: 24px;
//   width: 10em;
//   padding: 5px 30px;
//   border-radius: 10px;
//   color: $dark;
//   font-family: 'Sen', sans-serif;
//   margin: none;
// }

input#search-bar-input.form-control {
	color: $white;
	background: $gray !important;
}

input:focus {
	border-color: $green !important;
	box-shadow: 0 0 3px $green !important;
}

.form-control:focus {
	background: $gray !important;
	color: $white;
}

input.form-control {
	color: $white;
}


input#search-bar-input.form-control {
	color: $white;
	background: $gray !important;
}

input:focus {
	border-color: $green !important;
	box-shadow: 0 0 3px $green !important;
}

.form-control:focus {
	background: $gray !important;
	color: $white;
}

input.form-control {
	color: $white;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-text-fill-color: $white;
 -webkit-box-shadow: 0 0 0 30px $gray inset !important;
}

// input:-internal-autofill-selected {
// 	background-color: $gray !important;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus, 
// input:-webkit-autofill:active
// {
//  -webkit-box-shadow: 0 0 0 30px $gray inset !important;
// }