.container-form {
	color: $white;
	text-align: center;
	font-family: 'Sen', sans-serif;
}

.create-form {
	border-radius: 10px !important;
}

.string {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.text {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.datetime {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.file {
	font-size: 20px;
	font-family: 'Sen', sans-serif;
	
}

.form-control {
	border-radius: 10px;
	background-color: $gray;
	color: $white
}

.form-control-file {
	font-size: 18px;
	width: 250px
}

.create-btn {
	width: 300px;
}

.simple-form {
	margin-right: 2em;
}

#photo-input {
	justify-content: center;
	text-align: center;
}

input#search-bar-input.form-control {
	color: $white;
	background: $gray !important;
}

input:focus {
	border-color: $green !important;
	box-shadow: 0 0 3px $green !important;
}

.form-control:focus {
	background: $gray !important;
	color: $white;
}

input.form-control {
	color: $white;
}

input:-internal-autofill-selected {
	color: $white  !important;
	background: $gray !important;
}
