.navbar-lewagon {
  justify-content: space-between;
  background: $dark;
  color: $white;
  
}
.navbar-nav navbar-nav1 mr-auto {
  left: 200px;
}
#home-navbar {
  flex-direction: row-reverse;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-lewagon .navbar-brand-hidden img {
  width: 120px;
  display: none;
}

a.dropdown-item {
  color: $white !important;
  text-align: right !important;
  padding-right: .75em !important;
}

.dropdown-item:hover {
  color: $green !important;
  background-color: $dark !important;
}


.navbar-light .navbar-toggler-icon {
  background-image: url("https://icon-library.com/images/white-menu-icon/white-menu-icon-12.jpg");
  width: 50px;
  height: 50px;
}


.login-link {
  color: $white !important;
  text-align: right;
}


.navbar-brand other-page {
  position: relative;
  left: -50px;
}
.navbar-toggler {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  float: right;
}

.navbar-light .navbar-toggler {
  border: none !important;
}

.navbar-nav {
  position: absolute;
  left: 28vw;
}

.mapboxgl-canvas {
  left: -510px !important;
}

.navbar-brand {
  left: 2vw;
  position: relative;
}