<body>
  <div class="attendance-card">
    <% @attendances.each do |attendance| %>
    <h2><%= attendance.event.name %></h2>
    <% unless attendance.event.start_date.nil? %>
    <h2><%= attendance.event.start_date.strftime("%Y/%m/%d %l:%M %p") %></h2>
    <% end %>
    <h2><%= attendance.event.description %></h2>
  <% end %>
  </div>
</body